bpm_publisher.json
[{"id":"a6d4517.7d4c3b","type":"tab","label":"bpm_publisher","disabled":false,"info":""},{"id":"4d9366b7.d17418","type":"serial in","z":"a6d4517.7d4c3b","name":"","serial":"4a5fe8a8.301118","x":110,"y":100,"wires":[["a5057ad5.ff91e8"]]},{"id":"3ddff473.80047c","type":"mqtt out","z":"a6d4517.7d4c3b","name":"publisher_bpm","topic":"bpm","qos":"","retain":"","broker":"dd15139f.7e652","x":680,"y":100,"wires":[]},{"id":"a9b115bb.c0f178","type":"mosca in","z":"a6d4517.7d4c3b","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"mongodb://localhost:27017/db","x":330,"y":200,"wires":[[]]},{"id":"a5057ad5.ff91e8","type":"function","z":"a6d4517.7d4c3b","name":"Conv_to_Json","func":"p = msg.payload;\n\nvar data={\"data\":p};\nnode.log(typeof data);\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["7bcca81b.164938"]]},{"id":"7bcca81b.164938","type":"json","z":"a6d4517.7d4c3b","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["3ddff473.80047c"]]},{"id":"4a5fe8a8.301118","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dd15139f.7e652","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]